{% extends "base.html" %}
{% block container %}
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Setup/Reset LDAP Password</h3>
      </div>
      <div class="panel-body">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% if error %}
        <div class="alert alert-danger">
          {{ error }}
        </div>
        {% endif %}
        <form role="form" method="post" action="/reset/{{ link_id }}" class="form-horizontal">
		{{ form.hidden_tag() }}
          <div class="form-group">
            <label for="passwd" class="col-sm-3 control-label">{{ form.passwd.label }}</label>
            <div class="col-sm-6">
	            {% for error in form.passwd.errors %}
	            <span style="color: red;">{{ error }}</span>
	            {% endfor %}
		    {{ form.passwd(size=55) }}
            </div>
          </div>
          <div class="form-group">
          <label for="passwd" class="col-sm-3 control-label">{{ form.passwd_confirm.label }}</label>
          <div class="col-sm-6">
		    {{ form.passwd_confirm(size=55) }}
	  <div> Make sure it's at least 15 characters in length</div>
            </div>
          </div>
          <div class="progress">
              <div id="StrengthProgressBar" class="progress-bar"></div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
		    {{ form.submit() }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
